﻿<%@ Page Title="RegisterCorpUser" Language="C#" MasterPageFile="~/RegisterMaster.master" AutoEventWireup="true" CodeFile="RegisterOK-CorpUser.aspx.cs" Inherits="RegisterOK_CorpUser" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <h1>
     Thank You For Registration       
</h1><br />
<div id="divmessage" runat="server" class="error">

                </div>
                <!-- Google Code for Registratie Conversion Page -->
            <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1018259257;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "JzeoCL-g1QIQuc7F5QM";
var google_conversion_value = 0;
/* ]]> */
            </script>
            <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
                <div style="display: inline;">
                    <img height="1" width="1" style="border-style: none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1018259257/?value=0&amp;label=JzeoCL-g1QIQuc7F5QM&amp;guid=ON&amp;script=0" />
                </div>
            </noscript>
    

</asp:Content>

