﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SendSurvey.aspx.cs" Inherits="SendSurvey" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button ID="btn_booking" runat="server" Text="Booking" 
            onclick="btn_booking_Click" />
    <br />
    <asp:Button ID="btn_request" runat="server" Text="Request" onclick="btn_request_Click" /><br />
    <asp:Label ID="lbl1" runat="server" />
    </div>
    </form>
    <p>
        &nbsp;</p>
</body>
</html>
