<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Operator.master.cs" Inherits="Operator_Operator" %>

<%@ Register Src="~/UserControl/Operator/TopMenu.ascx" TagName="topmenu1" TagPrefix="ouc1" %>
<%@ Register Src="~/UserControl/SuperAdmin/TopMenu.ascx" TagName="topmenu2" TagPrefix="ouc2" %>
<%@ Register Src="~/UserControl/Sales/TopMenu.ascx" TagName="topmenu3" TagPrefix="ouc3" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Operator Master</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/jqtransform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.jqtransform_drp.js"></script>
    <script src="../js/NoConflict.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script language="javascript" type="text/javascript">
        jQuery(function () {
            jQuery('#radioKM input:radio').addClass('NoClassApply');
            jQuery('#radioKM input:radio').width(20);
            jQuery('.main_conta iner1').jqTransform({ imgPath: ' ' });
        });

    </script>
    <style type="text/css">
        .NoClassApply
        {
            width: 204px;
            padding: 2px;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="bg" runat="server" id="masterbody">
    <form id="form1" runat="server">
    <asp:ScriptManager runat="server" ID="scpmgr">
    </asp:ScriptManager>
    <div>
        <div class="main_container1">
            <!-- start left section-->
            <div class="left_container1">
                <div class="main_logo_new">
                    <img src="../images/logo.png" alt="Last Minute"></div>
            </div>
            <!-- end left section-->
            <!-- start right section-->
            <div class="right_container1" runat="server" id="Divtopmenu">
                <ouc1:topmenu1 ID="topmenu1" runat="server" />
                <ouc2:topmenu2 ID="topmenu2" runat="server" />
                <ouc3:topmenu3 ID="topmenu3" runat="server" />
                <!--logout-today start -->
                <div class="logout-today" style="width: 770px;">
                    <div class="today">
                        <span>Today:</span><asp:Label ID="lstLoginTime" runat="server"></asp:Label></div>
                    <div class="logout">
                        You are logged in as: <span>
                            <asp:Label ID="lblLoginUserName" runat="server"></asp:Label></span><asp:LinkButton
                                ID="lnklogout" runat="server" OnClick="lnklogout_Click">Log Out</asp:LinkButton></div>
                </div>
            </div>
            <!-- end right section-->
            <!--main_body start -->
            <div class="main_body">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!-- end main_body-->
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        jQuery('img').load(function () { }).error(function () {
            jQuery(this).hide();
        });

        jQuery(document).ready(function () {

            var changeTooltipPosition = function (event) {
                var tooltipX = event.pageX - 8;
                var tooltipY = event.pageY + 8;
                jQuery('div.tooltip').css({ top: tooltipY, left: tooltipX });
            };

            var showTooltip = function (event) {
                var message = jQuery("#" + this.id).attr("title");
                jQuery('div.tooltip').remove();
                jQuery("<div class='tooltip'>" + message + "</div>").appendTo('body');
                jQuery("#" + this.id).attr("title", "");
                changeTooltipPosition(event);
            };

            var hideTooltip = function () {
                var message = jQuery('div.tooltip').html();
                jQuery("#" + this.id).attr("title", message);
                jQuery('div.tooltip').remove();
            };

            jQuery(".information").bind({
                mousemove: changeTooltipPosition,
                mouseenter: showTooltip,
                mouseleave: hideTooltip
            });
        });

    </script>
    <div id="Loding_overlay" runat="server">
        <img src="../Images/ajax-loader.gif" style="margin: 350px 0px 0px 0px; z-index: 1999" /><br />
        <span>Loading...</span></div>
        <script type="text/javascript">        
//<![CDATA[
            // It has been added to override the default function being added by ASP.NET. This function will show a overlay on each postback
            function __doPostBack(eventTarget, eventArgument) {
                jQuery("#Loding_overlay").height(jQuery("document").height());

                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    if (eventTarget != "ctl00$ctl00$cntLeftBottom$cntLeft$lnkSavePDF" && eventTarget != 'ctl00$ctl00$cntLeftBottom$cntLeft$uiLinkButtonSaveAsPdfGrid' && eventTarget != 'ctl00$ContentPlaceHolder1$lnkSaveRequestPdf' && eventTarget != 'ctl00$ContentPlaceHolder1$lnkSavePDF' && eventTarget != 'ctl00$ContentPlaceHolder1$exportToExcel') {
                        jQuery('html').scrollTop(0);
                        jQuery('body').scrollTop(0);
                        document.getElementsByTagName('html')[0].style.overflow = 'hidden';
                        //jQuery("#Loding_overlay").height(jQuery("document").height());
                        jQuery("#Loding_overlay").show();
                    }
                    theForm.submit();
                }
            };
            //It has beeen added to catch all any postback wchich is not available to __doPostBack
            jQuery("#form1").submit(function () {
                jQuery("#Loding_overlay").height(jQuery("document").height());

                jQuery('html').scrollTop(0);
                jQuery('body').scrollTop(0);
                document.getElementsByTagName('html')[0].style.overflow = 'hidden';
                //jQuery("#Loding_overlay").height(jQuery("body").height());
                jQuery("#Loding_overlay").show();
            });
        //]]>
    </script>
    
    </form>
    
</body>
</html>
