﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Sales/Main.master" AutoEventWireup="true"
    CodeFile="Watch.aspx.cs" Inherits="Operator_Watch" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:Panel ID="pnlFrame" runat="server" Width="100%" Visible="true">
        <div style="width: 1000px; position: absolute; left: auto; top: 112px; z-index: 100;
            overflow: hidden; border: 15px solid #333; background: #999;">
            &nbsp;&nbsp;&nbsp;&nbsp;<asp:Label ID="Label2" runat="server" Text="Hotel Name : "
                ForeColor="White" Font-Bold="true"></asp:Label><asp:Label ID="lblFacilityName" runat="server"
                    Text="" ForeColor="White" Font-Bold="true"></asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Label ID="Label3" runat="server" Text="Contract Number : " ForeColor="White"
                Font-Bold="true"></asp:Label><asp:Label ID="lblContractNumber" runat="server" Text=""
                    ForeColor="White" Font-Bold="true"></asp:Label>
            <asp:LinkButton runat="server" ID="lnb" Style="display: block; clear: both; float: right;
                color: #000; font-size: 16px; font-weight: bold; margin-right: 4px; padding: 2px;
                text-decoration: none;" OnClick="lnb_Click">X</asp:LinkButton>
            <asp:UpdatePanel ID="frameupdate" runat="server">
                <ContentTemplate>
                    <iframe scrolling="auto" src="../HotelUser/HotelDashboard.aspx" width="998px" height="870px"
                        frameborder="1" title="Hotel Details" runat="server" ID="OperatorFrame" >Your browser does not support
                        IFRAMEs. </iframe>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
    </asp:Panel>
</asp:Content>
