﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SuperAdmin.master.cs" Inherits="SuperAdmin_SuperAdmin" %>
<%@ Register Src="~/UserControl/SuperAdmin/TopMenu.ascx" TagName="TopMenu" TagPrefix="uc1"  %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SuperAdmin</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/jqtransform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/SpryTabbedPanels.js"></script>
    <script type="text/javascript" src="../js/jquery.jqtransform.js"></script>
</head>
<body class="bg">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div class="main_container1">
        <!-- start left section-->
        <div class="left_container2">
            <div class="main_logo_new">
                <img src="../images/logo.png" alt="Last Minute"></div>
            <%--            <div class="hotel_logo">
               <img src="../images/hotel_logo.png" alt="Hotel Logo"></div>--%>
            <div class="search">
                <!-- start drop down search -->
                <div class="rowElem" style="margin-top: 90px;">
                    <b>Country</b><br />
                    <asp:DropDownList ID="ddlCountry" runat="server" Width="180px" AutoPostBack="true" OnSelectedIndexChanged="ddlCountry_SelectedIndexChanged">
                    </asp:DropDownList>
                </div>
                <!-- end drop down search -->
            </div>
            <!-- start new left -->
            <div class="new_left">
                <div class="leftside_inner_container">
                    <!-- start blue white box-->
                    <%--<div class="blue_white_box1">
                        <h2>
                            General info</h2>
                        <div class="content1">
                            <ul class="innerlist1">
                                <li><a href="#">Hotel/Conference info</a></li>
                                <li><a href="#">Contact details</a></li>
                                <li><a href="#">Facilities</a></li>
                                <li><a href="#">Cancellation policy</a></li>
                                <li class="h3">Meeting rooms</li>
                                <li><a href="#">Description</a></li>
                                <li><a href="#">Configuration</a></li>
                                <li><a href="#">Preview/Print fact sheet</a></li>
                                <li><a href="#">Preview on web</a></li>
                                <li class="h3">Bedrooms</li>
                                <li><a href="#">Description</a></li>
                                <li class="h3">Pricing</li>
                                <li><a href="#">Meeting rooms</a></li>
                                <li><a href="#">Bedrooms</a></li>
                                <li class="h3">Pictures/video</li>
                                <li><a href="#" class="selected">Picture Management</a></li>
                            </ul>
                        </div>
                    </div>--%>
                    <!-- end blue white box-->
                </div>
            </div>
            <!-- end new left -->
        </div>
        <!-- end left section-->
        <!-- start right section-->
        <div class="right_container1">
            <uc1:TopMenu id="topmenu1" runat="server"></uc1:TopMenu>
            <div class="superadmin-mainbody">
                <!--logout-today start -->
                <div class="logout-today1">
                    <div class="today">
                        <span>Today:</span><asp:Label ID="lstLoginTime" runat="server"></asp:Label></div>
                    <div class="logout">
                        You are logged in as: <span>
                            <asp:Label ID="lblLoginUserName" runat="server"></asp:Label></span><asp:LinkButton
                                ID="lnklogout" runat="server" OnClick="lnklogout_Click">Log Out</asp:LinkButton></div>
                </div>
                <!-- end logout-today-->
                <div class="superadmin-mainbody-inner">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
        <!-- end right section-->
    </div>
    <div id="Loding_overlay" runat="server" >
        <img src="../Images/ajax-loader.gif" style="margin: 350px 0px 0px 0px; z-index: 1999" /><br /><span>Loading...</span></div>
    </form>
    <script type="text/javascript">        
//<![CDATA[
        // It has been added to override the default function being added by ASP.NET. This function will show a overlay on each postback 
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                if (eventTarget != "ctl00$ContentPlaceHolder1$lnkDownloadXLS" && eventTarget != 'ctl00$ContentPlaceHolder1$lnkDownloadPDF') {
                    jQuery('html').scrollTop(0);
                    jQuery('body').scrollTop(0);
                    document.getElementsByTagName('html')[0].style.overflow = 'hidden';
                    //jQuery("#Loding_overlay").height(jQuery("body").height());
                    jQuery("#Loding_overlay").show();
                }
                theForm.submit();
            }
        };
        //It has beeen added to catch all any postback wchich is not available to __doPostBack
        jQuery("#form1").submit(function () {
            jQuery('html').scrollTop(0);
            jQuery('body').scrollTop(0);
            document.getElementsByTagName('html')[0].style.overflow = 'hidden';
            //jQuery("#Loding_overlay").height(jQuery("body").height());
            jQuery("#Loding_overlay").show();
        });
        //]]>
        </script>
    </form>
    <script language="javascript" type="text/javascript">
        jQuery('img').load(function () { }).error(function () {
            //jQuery(this).hide();
            var imageObj = jQuery(this);
            var widthImg = imageObj.width()
            if (widthImg <= 120 && widthImg >= 90) {
                imageObj.prop("src", serverBasePath + '/Images/no-image-b.jpg');
            }
            else if (widthImg <= 89 && widthImg >= 50) {
                imageObj.prop("src", serverBasePath + '/Images/no-image-s.jpg');
            }
            else {
                imageObj.hide();
            }
        });
</script>
</body>
</html>
