﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Client.aspx.cs" Inherits="Test_Client" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="http://localhost:51570/LMMR.Website/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="http://localhost:51570/LMMR.Website/js/WLServices.js?w=2&style=false"
        type="text/javascript"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="search_canvas">
    </div>
    </form>
</body>
</html>
