﻿ span.jqTransformCheckboxWrapper
        {
            display: block;
            margin-top: 1px;
            float: none;
        }
        a.jqTransformCheckbox
        {
            background: transparent url(../images/checkbox.png) no-repeat center top;
            vertical-align: middle;
            height: 19px;
            width: 19px;
            display: block; /*display: -moz-inline-block;*/
            margin: auto;
        }
        a.jqTransformChecked
        {
            background: transparent url(../images/checkbox.png) no-repeat center bottom;
            margin: auto;
            vertical-align: middle;
            display: block;
            height: 19px;
            width: 19px;
        }
        .lefttext
        {
            float: none;
            margin: 0px;
        }
        
        .save-cancel-prices-container-btn-left span.jqTransformCheckboxWrapper
        {
            display: block;
            margin-top: 0px;
            padding-right: 1px;
            float: left;
        }
        .save-cancel-prices-container-btn-left a.jqTransformCheckbox
        {
            background: transparent url(../images/checkbox.png) no-repeat center top;
            vertical-align: middle;
            height: 19px;
            width: 19px;
            display: block; /*display: -moz-inline-block;*/
            float: left;
        }
        
        .save-cancel-prices-container-btn-left a.jqTransformChecked { background-position: center bottom;}