/* firefox3 */
/* -- Generic HTML -- */
BODY 	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	color: #888888;
	background: #FFFFFF;
	margin:0px;
	padding:0px;
	height:100%;
}

.header	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 13px;
	color: #555555;
	background: url('../images/TabMiddle.gif');
	width:100%;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}
h1 {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 20px;
	color: white;
	background: url('../images/TabMiddle.gif');
	width:100%;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

H2 {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #001155;
	border: none;
	border-bottom-color: #001155;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-left: 8px;
	margin: 0px;
	margin-top: 16px;
}

FORM 	{
	margin: 0px;
	padding: 0px;
}

IMG	{
	border:none;
	margin:0px;
	padding:0px;
}

TABLE	{
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
}

TD	{
	font-size: 12px;
	text-align: justify;
	margin: 0px;
	padding: 0px;
}

UL	{
	margin: 0px;
	padding: 2px;
	padding-left: 64px;
}

LI	{
	list-style-image: url("ico_list.gif");
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
}

P	{
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
}

/* -- Navigation bar (lists) -- */
.navbar		{
	font-size: 120%;
	font-weight: bold;
	text-decoration: underline overline;
}


/* -- Tables -- */
.table		{
	border-collapse: separate;
	border-spacing: 1px;
	margin-top: 16px;
	padding: 1px;
	border: none;
}

.tableRow        {
}

.tableCell       {
	color: #000000;
	font-size: 12px;
	margin: 0px;
	padding: 2px;
	width: 33%;
}

.tableGroupRow	{
}

.tableGroupCell	{
	color: #000000;
	text-align: center;
}

.tableRow    {	
}

.tableCell  {
	padding: 0px 2px;
}

.tableHeaderRow  {
}

.tableHeaderCell {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;

	color: #02145C;
	background-image: url('../images/bgnd_titles.gif');
	background-repeat: repeat-x;

	border: none;
	border-bottom: solid 1px #CCCCCC;
	height: 34px;
	padding: 2px;
	white-space: nowrap;
}

.tableSeparatorRow  {
}

.tableSeparatorCell {
	font-weight: bold;
	color: #001155;
	padding: 1px;
	padding-left: 10px;	
}

.tableFooterRow  {
}

.tableFooterCell {
	font-weight: bold;
	color: #888888;
	text-align: right;
	height: 24px;
  vertical-align: top;
}

.tableSmall	{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.radioGroupDescription {
	font-size: 10px;
}

.radioGroupHeader {
	font-size: 12px;
	text-align: center;
	padding-bottom: 0px;
}

/* -- Message boxes -- */
.msgError	{
	font-size: 12px;
	text-align: justify;
	margin: 0px;
	margin-top: 8px;
	color: #DD1122;
	background: #FFFFFF;
	border-color: #DD1122;
	border-style: solid;
	border-width: 1px;
	width: 650px;
}

.msgWarning	{
	font-size: 12px;
	text-align: justify;
	margin: 0px;
	margin-top: 8px;
	color: #000000;
	background: #FFFFE0;
	border-color: #C46600;
	border-style: solid;
	border-width: 1px;
	width: 650px;
}

.msgInfo	{
	font-size: 12px;
	text-align: justify;
	margin: 0px;
	margin-top: 8px;
	color: #888888;
	background: #FFFFFF;
	width: 650px;
}



/* -- Forms items -- */

.formButton	{
	background-image:  url('../images/ButtonBackground.gif');
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #555555;
	white-space: nowrap;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.formButtonLeft {
	background-image: url('../images/ButtonLeft.gif');
	background-repeat: no-repeat;
	background-position: right;
	white-space: nowrap;
	width: 18px;
	height: 18px;
	margin: 0px;
	padding: 0px;
}

.formButtonMiddle {
	background-image:  url('../images/ButtonBackground.gif');
}

.formButtonRight {
	background-image: url('../images/ButtonRight.gif');
	background-repeat: no-repeat;
	background-position: left;
	white-space: nowrap;
	width: 18px;
	height: 18px;
	margin: 0px;
	padding: 0px;
}

.formInput      {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 10px;
	height: 18px;
	color: #555555;
	border: none;
	margin: 0px;
	margin-bottom: 6px;
}

.formTextarea      {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 10px;
	color: #555555;
	border: 1px solid #CCCCCC;
	margin: 0px;
	margin-bottom: 6px;
}

.formSelect      {
        font-family: trebuchet, helvetica, sans-serif;
        font-size: 11px;
        color: #555555;
        border: solid 1px #CCCCCC;
        padding: 0px;
        margin: 0px;
        width: 400px;
}
.smallselect      {
        font-family: trebuchet, helvetica, sans-serif;
        font-size: 11px;
        color: #555555;
        border: solid 1px #CCCCCC;
        padding: 0px;
        margin: 0px;
        width: 50px;
}
.midselect      {
        font-family: trebuchet, helvetica, sans-serif;
        font-size: 11px;
        color: #555555;
        border: solid 1px #CCCCCC;
        padding: 0px;
        margin: 0px;
        width:250px;
}


.formSelect option {
  color: #888888;
}

.formSelectOptCrt {
	color: #888888;
}

.formSelectOptCrt:hover {
	color: #888888;
}

.formSelectOpt {
	color: #888888;
}

.formCheck      {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.formRadio      {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	vertical-align: middle;
}

.tableCell {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.tableFormCellEditor {
	padding: 2px;
}

.tableFormCell {
	color:#888888;
	padding: 4px;
	padding-left: 18px;
}

.form_error {
  color: #ff0000;
}

/* -- CSS for Hint bubbles -- */
.hint		{
	background: #FFFFA0;
	border: solid 1px black;
}

.hintCaption	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 2px;
	padding-left: 6px;
}

.hintContent	{
	background: #FFFFD0;
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 10px;
	padding: 3px;
	text-align: justify;
}

.hintButton	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
        width: 90px;
	text-align: center;
	color: #000000;
	background: #FFFFA0;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin: 0px;
	margin-left: 6px;
}

/* -- CSS for locations' auto_completion -- */
.tableAutoComplete {
	margin: 0px;
	margin-top: 2px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	border:solid black 1px;
}

.tableAutoCompleteRow	{
	background: #FFFFFF;
	cursor:pointer;
}

.tableAutoCompleteLeft	{
	font-size: 12px;
	text-align: right;
	white-space: nowrap;
	color: #001155;
	background: #BBBBBB;
	padding: 1px;
}

.tableAutoCompleteRight	{
	color: #001155;
	font-size: 12px;
	white-space: nowrap;
	padding: 0px;
	padding-left: 4px;
}

/* -- CSS For menus -- */

.langMenuCell	{
	color: #11AAFF;
	border: none;
	border-right: solid 1px #888888;
	padding: 2px 5px;
}

.langMenuCellCurrent	{
	color: #001155;
	border: none;
	border-right: solid 1px #888888;
	padding: 2px 5px;
}

.topMenuTable{
	width: 990px;
	margin-top: 8px;
}

.topMenuRow 	{
}

.topMenuCell {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px 5px;
	margin: 4px;
	border-right: solid 1px #FFFFFF;
}

.topMenuCellCurrent {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #001155;
	white-space: nowrap;
	cursor: pointer;
	padding: 2px 5px;
	border-right: solid 1px #FFFFFF;
}

.leftMenu	{
	min-width: 200px;
	padding: 1px;
	padding-left: 14px;
	margin: 0px;
	margin-top: 1px;
}

.leftMenuSelected	{
	min-width: 200px;
	color: #001155;
	padding: 1px;
	padding-left: 14px;
	margin: 0px;
	margin-top: 1px;
}

.leftMenuHeader {
	min-width: 200px;
	height: 14px;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	padding: 1px;
	padding-left: 6px;
	margin: 0px;
	margin-top: 1px;
}

.leftMenuStateExpand	{
}

.leftMenuStateCollapse	{
}


/* End of CSS For menus */

A	  {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	text-decoration: none;
	color: #888888;	
}

A:hover   {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	text-decoration: none;
	color: #11AAFF;	
}

A.link    {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	text-decoration: none;
	color: #888888;	
}

A.link:hover   {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	text-decoration: none;
	color: #11AAFF;	
}

A.linkMenu    {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #888888;
	white-space: nowrap;
}

A.linkMenu:hover   {
	color: #11AAFF;
}

A.linkMenuCurrent	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #001155;
	white-space: nowrap;
}

A.linkMenuCurrent:hover   {
	color: #11AAFF;
}

A.linkHeader	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	text-decoration: none;
	color: #001155;	
}

A.linkHeader:hover	{
	color:#11AAFF;	
}

A.linkLang    {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #11AAFF;
	white-space: nowrap;
}

A.linkLang:hover   {
	color: #11AAFF;
}

A.linkLangCurrent    {
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #001155;
	white-space: nowrap;
}

A.linkLangCurrent:hover   {
	color: #11AAFF;
}

.content	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
	width: 520px;
	padding: 9px;
}

.block		{
	color: #000000;
	margin: 0px;
	padding: 0px;
}

.tnc_header	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;	
	margin: 0px;
	padding: 12px;
}

.tnc_header2	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #888888;
	margin: 12px 8px;
}

.tnc_parag	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2px;
	padding-top: 3px;
}

.bold	{
	font-weight: bold;
}

.watermark	{
	vertical-align:bottom;
	width: 100%;
	height:80px;
	min-width: 970px;
}

.property	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #001155;
	width:100%;
	margin: 0px;
	margin-right: 8px;
	text-align: center;
	white-space: nowrap;
}

.legend		{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 9px;
	color: #888888;
	width: 400px;
	margin-top: 2px;
}

.product	{
	font-weight:bold;
	color:#11AAFF;
}

.homePanelHeader {
	font-size:13px;
	font-weight:bold;
	color:#11AAFF;
	width:100%;
	padding:1px;
}

.headerTitle	{
	font-family:'Trebuchet MS', helvetica, sans-serif;
	font-size: 20px;
	color: #02145C;
	padding-bottom: 8px;
}

.pageContent	{
	border: none;
	margin: 0px;
	margin-left: 10px;
	padding: 0px 4px;
	padding-bottom: 25px;
}

.menuTop	{
}

.Odd {
	height: 58px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

.Even {
	height: 58px;
	background-color: #F6F6F6;
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

img.banner {
  left: 167px;
  position: absolute;
}