﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Communication.aspx.cs" Inherits="WL_Communication" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/Communication.js" type="text/javascript"></script>
    <asp:Literal ID="ltrCSS" runat="server" ></asp:Literal>
</head>
<body style="overflow:hidden;" >
    <form id="form1" runat="server">
    <div id="WL_Search" class="searchboxstyle">
    </div>
    </form>
</body>
</html>
